    /*add Task Style */
    
    body {
        margin: 0;
        font-family: 'PT Sans', sans-serif;
        font-size: 1.0rem !important;
    }
    
    h2 {
        font-size: 32px !important;
        color: rgb(30, 49, 144);
    }
    
    p {
        font-size: 12px!important;
        color: rgb(30, 49, 144);
    }
    
    .custom-select {
        font-size: 1.0rem !important;
    }
    
    .title-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        height: 15vh;
    }
    
    .task-container {
        width: 100%;
        height: 70vh;
        display: flex;
        padding-left: 30px;
        padding-right: 60px;
    }
    
    .addtask-container {
        display: flex;
        width: 100%;
        background-color: rgb(244, 243, 251) !important;
        align-items: center;
        border-radius: 1.50rem;
        color: rgb(30, 49, 144);
    }
    
    .right-taskcontainer {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 20px;
    }
    
    .title-section {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .category-section {
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .title-section input {
        height: 25%;
        width: 100%;
    }
    
    .discripion-section {
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .task-section {
        padding-left: 190px;
        width: 100%;
    }
    
    .form-select {
        width: 100%;
        height: 25%;
    }
    
    .left-taskcontainer {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 20px;
    }
    
    .date-section {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .date-section input {
        height: 25%;
        width: 100%;
    }
    
    .importance-section {
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .assign-section {
        height: 50%;
    }
    
    .assign-person img:hover {
        cursor: pointer;
    }
    
    .overall-user-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 30%;
    }
    
    #assign-person {
        display: flex;
        align-items: center;
        font-size: 12px;
        overflow-x: scroll;
        font-size: 12px;
    }
    
    .overall-user-div img {
        margin-bottom: 4px;
        height: 50px;
        width: 50px;
        object-fit: cover;
        background-color: white;
        border-radius: 100%;
        margin-right: 8px;
        margin-left: 8px;
    }
    
    .assign-person {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        padding-left: 20px;
    }
    
    .assign-commit {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 95%;
        height: 40%;
        padding-right: 10px;
    }
    
    .assign-commit button {
        margin: 8px;
    }
    
    .d-none {
        display: none;
    }
    
    .user-picker {
        z-index: 20;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #user-picker-container {
        overflow-y: auto;
        width: 50vw;
        background-color: rgb(244, 243, 251);
        border-radius: 16px !important;
        padding: 16px;
        height: 50vh;
    }
    
    .btn-primary {
        color: #fff;
        background-color: rgb(30, 49, 144) !important;
        border-color: rgb(30, 49, 144) !important;
    }
    
    .btn-light {
        color: rgb(30, 49, 144) !important;
    }
    
    #user-picker-container img {
        width: 75px;
        height: 75px;
        padding: 8px;
        object-fit: cover;
    }
    
    .user-picker-row {
        border-radius: 10px;
        margin: 12px;
    }
    
    .user-picker-row:hover {
        background-color: gray;
        width: 100%;
        cursor: pointer;
    }
    
    .user-picker-row-select {
        cursor: pointer;
        background-color: #d4edda;
        width: 100%;
    }
    
    .btn {
        margin-top: 50px;
    }
    
    @media (max-width: 990px) {
        .task-section {
            padding-top: 100px !important;
            width: 100% !important;
            padding-left: 5px;
        }
        #user-picker-container {
            width: 90vw;
        }
    }
    
    @media (max-width:770px) {
        .task-container {
            height: 100% !important;
            flex-direction: column !important;
            padding-right: 12px !important;
            padding-left: 12px !important;
            padding-bottom: 12px !important;
        }
        .addtask-container {
            display: flex !important;
            flex-direction: column !important;
            height: 100%;
        }
        .right-taskcontainer {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0px !important;
            padding-right: 1rem;
            padding-left: 1rem;
        }
        .title-section {
            height: 35%;
            padding-bottom: 12px;
        }
        .title-section input {
            height: 50%;
        }
        .form-select {
            height: 50% !important;
        }
        .category-section {
            height: 35% !important;
            padding-bottom: 12px;
        }
        .left-taskcontainer {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0px !important;
            padding-right: 1rem;
            padding-left: 1rem;
        }
        .date-section {
            height: 35%;
            padding-bottom: 12px;
        }
        .date-section input {
            height: 50%;
        }
        .importance-section {
            height: 35%;
            padding-bottom: 12px;
        }
        .assign-section h3 {
            padding-bottom: 12px;
        }
        .overall-user-div {
            padding-bottom: 12px;
        }
    }