    /*add Task Style */

    h2 {
        font-size: 32px !important;
        color: rgb(30, 49, 144);
    }

    p {
        font-size: 12px!important;
        color: rgb(30, 49, 144);
    }

    .title-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        height: 15vh;
    }

    .task-container {
        width: 100%;
        height: 70vh;
        display: flex;
        padding-left: 30px;
        padding-right: 60px;
    }

    .addtask-container {
        display: flex;
        width: 100%;
        height: 100%!important;
        background-color: rgb(244, 243, 251) !important;
        align-items: center;
        border-radius: 1.50rem;
        color: rgb(30, 49, 144);
        padding: 3rem;
    }

    .right-taskcontainer {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .title-section {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .category-section {
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .title-section input {
        height: 30px;
        width: 100%;
    }

    .discripion-section {
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .task-section {
        padding-left: 190px;
        width: 100%;
    }

    .form-select {
        width: 100%;
        height: 30px;
    }

    .left-taskcontainer {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .date-section {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .importance-section {
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .assign-person img:hover {
        cursor: pointer;
    }

    .overall-user-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 16px;
    }

    #assign-person {
        display: flex;
        align-items: center;
        font-size: 12px;
        overflow-x: auto;
        font-size: 12px;
    }

    .overall-user-div img {
        height: 58px;
        width: 58px;
        object-fit: cover;
        background-color: white;
        border-radius: 100%;
        margin-left: 8px;
    }

    .assign-person {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8px;
        padding-left: 20px;
    }

    .assign-person img {
        width: 35px;
        height: 35px;
    }

    .assign-commit {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px;
    }

    .assign-commit button {
        margin: 8px;
    }

    .d-none {
        display: none;
    }

    .user-picker {
        z-index: 20;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #user-picker-container {
        overflow-y: auto;
        width: 50vw;
        background-color: rgb(244, 243, 251);
        border-radius: 16px !important;
        padding: 16px;
    }

    .btn-primary {
        color: #fff;
        background-color: rgb(30, 49, 144) !important;
        border-color: rgb(30, 49, 144) !important;
    }

    .btn-light {
        color: rgb(30, 49, 144) !important;
        background-color: rgb(244, 243, 251) !important;
        border-color: rgb(244, 243, 251) !important;
    }

    #user-picker-container img {
        width: 75px;
        height: 75px;
        padding: 8px;
        object-fit: cover;
    }

    .user-picker-row {
        border-radius: 10px;
        margin: 12px;
    }

    .user-picker-row:hover {
        background-color: gray;
        cursor: pointer;
    }

    .user-picker-row-select {
        cursor: pointer;
        background-color: #d4edda;
    }

    .btn {
        font-weight: bold!important;
    }

    .form-control {
        resize: none;
        height: 150px!important;
        border-color: rgb(118, 118, 118)!important;
        border-radius: 0!important;
        margin-bottom: 12px;
    }

    @media (max-width: 990px) {
        .task-section {
            padding-top: 100px !important;
            width: 100% !important;
            padding-left: 5px;
        }
        #user-picker-container {
            width: 90vw;
        }
    }

    @media (max-width:770px) {
        .task-container {
            height: 100% !important;
            flex-direction: column !important;
            padding-right: 12px !important;
            padding-left: 12px !important;
            padding-bottom: 12px !important;
        }
        .addtask-container {
            display: flex !important;
            flex-direction: column !important;
            height: 100%!important;
        }
        .right-taskcontainer {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0px !important;
            padding-right: 1rem;
            padding-left: 1rem;
        }
        .title-section {
            height: 35%;
            padding-bottom: 12px;
        }

        .category-section {
            height: 35% !important;
            padding-bottom: 12px;
        }
        .left-taskcontainer {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0px !important;
            padding-right: 1rem;
            padding-left: 1rem;
        }
        .date-section {
            height: 35%;
            padding-bottom: 12px;
        }
        .importance-section {
            height: 35%;
            padding-bottom: 12px;
        }
        .assign-section h3 {
            padding-bottom: 12px;
        }
    }