body {
    width: 100vw;
    height: 100vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    background-color: #1b2d91;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px;
}

.joinlogo-large {
    width: 60px;
    height: 71px;
}

.login-container {
    background-color: #f4f3fb;
    padding: 24px;
    margin: 24px;
    border-radius: 8px;
}

.login-container input {
    border-left: none;
}

.btn {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
}

input {
    width: 100%;
    height: 32px;
    border: 1px solid black;
}

input:focus {
    outline: 0;
}

.input-container {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
}

.input-container-img {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: 32px;
    width: 32px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container-img img {
    width: 16px;
    height: 16px;
}

.registration {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3)!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-container-overlay {
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.registration-container {
    position: absolute;
    z-index: 20;
    background-color: #f4f3fb;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
}

.registration-container button {
    margin-top: 32px;
}

.new-profile-picture {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 100%;
    margin: 16px;
}

.new-profile-picture img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.d-none {
    display: none;
}

.add-profile-picture {
    margin-bottom: 8px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label:hover {
    text-decoration: underline;
    cursor: pointer;
}