.task-page {
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 32px !important;
    color: rgb(30, 49, 144);
}

p {
    font-size: 12px!important;
    color: rgb(30, 49, 144);
}

/********************Task_Container_RELATED_SETTINGS********************/

.headline-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
}

.projects {
    padding-left: 190px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.headline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.assignee-section {
    display: flex;
    align-items: center;
}

.task-container {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
}

.task-container label {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    margin-bottom: .5rem;
    color: rgb(30, 49, 144);
}

#assigned {
    width: 35%;
}

#title {
    width: 29.5%;
}

.task-listed {
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-left: 8px;
    border-left-style: solid;
    background-color: #F4F3FB;
    border-radius: 8px;
    height: auto;
    margin-bottom: 16px;
    transition: all 125ms ease-in-out;
    padding: 0.5rem;
    position: relative;
}

.list-first-line {
    display: flex;
}

.list-labels {
    width: 100%;
}

/*colors for the list-item-content depending of the eisenhowerMatrixCategorie value of the assigment*/

.do {
    border-left-color: blue;
}

.schedule {
    border-left-color: purple;
}

.delegate {
    border-left-color: green;
}

.eliminate {
    border-left-color: orange;
}

.assigned-content {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-left: 0.5rem;
}

.assigned-img img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.contact-data-section {
    display: flex;
    flex-direction: column;
}

.category-content {
    display: flex;
    align-items: center;
    color: #007bff;
    font-weight: bold;
    width: 50%;
}

.details-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-top: 0.5rem;
}

.title-content {
    font-weight: bold;
    display: flex;
    width: 50%;
    align-items: center;
    padding-left: 0.5rem;
}

.task-item-content {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #F4F3FB;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left-style: solid;
    border-left-width: 5px;
}

.delete-container-overlay-list {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.delete-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 4px;
    vertical-align: middle;
}

.delete-window {
    z-index: 30;
    background-color: #f4f3fb;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
}

.delete-window button {
    margin-top: 32px;
    height: 40px;
    width: 80px;
    font-size: 1em!important;
}

.button-order {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    height: 24px;
    min-width: 100px;
    font-size: 0.6em!important;
    padding: 2px!important;
    margin-bottom: 7.5px;
    margin-top: 16px;
}

.list-column {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.titleAndCategories {
    display: flex;
    justify-content: space-between;
}

.deleteList {
    width: 5%;
}

@media(max-width: 990px) {
    .projects {
        padding-top: 100px !important;
        width: 100% !important;
        padding-left: 12px;
        padding-right: 12px;
    }
    .list-first-line {
        flex-direction: column;
    }
    .task-container {
        margin-top: 4px;
    }
    .assigned-content {
        width: 90%;
    }
    .category-content {
        width: 100%;
    }
    .title-content {
        width: 100%;
    }
    .delete-img {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
    }
    #category {
        display: none;
    }
    #title {
        display: none;
    }
    #assigned {
        display: none;
    }
    .titleAndCategories {
        display: flex;
        flex-direction: column-reverse;
    }
    .list-column {
        width: 100%;
    }
    
}