.task-page {
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 32px !important;
    color: rgb(30, 49, 144);
}

p {
    font-size: 12px!important;
    color: rgb(30, 49, 144);
}


/********************Task_Container_RELATED_SETTINGS********************/

.headline-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    height: 15vh;
}

.projects {
    padding-left: 190px;
    width: 100%;
}

.headline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.assignee-section{
    display: flex;
}

.task-container {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 30% 20% 38% 8%;
    grid-auto-rows: min-content;
    grid-template-areas:
        "label label label label"
        "task task task task";
    align-items: center;
}

.task-container label {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    margin-bottom: .5rem;
    color: rgb(30, 49, 144);
}



.task-listed {
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-left: 8px;
    border-left-style: solid;
    grid-area: task;
    display: grid;
    grid-template-columns: 1.5% 23.5% 20% 50% 5%;
    grid-row: auto;
    background-color: #F4F3FB;
    border-radius: 8px;
    height: auto;
    margin-bottom: 16px;
    transition: all 125ms ease-in-out;
}

.task-item-description {
    background-color: white;
    top: 20%;
    width: 88%;
    display: flex;
    color: rgb(30, 49, 144);
}

.task-item-description p {
    margin-bottom: 0 !important;
    font-weight: 700;
    font-size: 15px;
}

/*#assigned {
    width: 25%;
    min-width: 230px;
    overflow: auto;
}

#category {
    width: 25%;
    min-width: 70px;
    overflow: auto;
    text-align: center;
}

#details {
    width: 25%;
    text-align: end;
}*/


/*colors for the list-item-content depending of the eisenhowerMatrixCategorie value of the assigment*/

.do {
    border-left-color: blue;
}

.schedule {
    border-left-color: purple;
}

.delegate {
    border-left-color: green;
}

.eliminate {
    border-left-color: orange;
}

.assigned-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.assigned-img {
    display: flex;
    margin: 0.5rem 0.5rem 0.5rem 0;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.assigned-img img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 3rem;
    height: 3rem;
    margin: 2px 0 0 0;
    border-radius: 50%;
}

.contact-data-section{
    display: flex;
    margin: 4px 0 0 0;
    flex-direction: column;
}

.category-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-left: 30vw;
}

.details-content {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 2% 2%;
    margin-left: 30vw;
}

#category {
    display: flex;
    justify-content: center;
}

#details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-item-content {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #F4F3FB;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left-style: solid;
    border-left-width: 5px;
}

@media(max-width: 990px) {
    .projects {
        padding-top: 100px !important;
        width: 100% !important;
        padding-left: 5px;
    }
    .task-item-content {
        display: flex;
        align-items: center;
        height: 70px;
        width: 100%;
        background-color: #F4F3FB;
        margin-bottom: 10px;
        border-radius: 5px;
        border-left-style: solid;
        border-left-width: 5px;
    }
    .assigned-content {
        width: 25%;
        min-width: 190px;
        overflow: auto;
        display: flex;
        align-items: center;
    }
    .category-content {
        width: 25%;
        min-width: 70px;
        overflow: auto;
        text-align: center;
    }
    .details-content {
        width: 50%;
        max-height: 100%;
        overflow-y: scroll;
        overflow-x: scroll;
        padding: 5px;
    }

    .task-container {
        margin-top: 16vh;
    }

    .task-item-description {
        background-color: white;
        position: relative !important;
        top: 30%;
        display: flex;
        color: rgb(30, 49, 144);
    }
    
   /* #assigned {
        width: 25%;
        min-width: 140px;
        overflow: auto;
    }
    #category {
        width: 16%;
        min-width: 132px;
        overflow: auto;
        text-align: center;
    }
    #details {
        width: 50%;
        text-align: end;
    }*/
}