.task-page {
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 32px !important;
    color: rgb(30, 49, 144);
}

p {
    font-size: 12px!important;
    color: rgb(30, 49, 144);
}

/********************Task_Container_RELATED_SETTINGS********************/

.headline-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    height: 15vh;
}

.projects {
    padding-left: 190px;
    width: 100%;
}

.headline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.assignee-section {
    display: flex;
}

.task-container {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 30% 20% 38% 8%;
    grid-auto-rows: min-content;
    grid-template-areas: "label label label label" "task task task task";
    align-items: center;
}

.task-container label {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    margin-bottom: .5rem;
    color: rgb(30, 49, 144);
}

.task-listed {
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-left: 8px;
    border-left-style: solid;
    grid-area: task;
    display: grid;
    grid-template-columns: 0.5% 23.5% 20% 50% 5%;
    grid-row: auto;
    background-color: #F4F3FB;
    border-radius: 8px;
    height: auto;
    margin-bottom: 16px;
    transition: all 125ms ease-in-out;
}

.task-item-description {
    background-color: white;
    top: 20%;
    width: 88%;
    display: flex;
    color: rgb(30, 49, 144);
}

.task-item-description p {
    margin-bottom: 0 !important;
    font-weight: 700;
    font-size: 15px;
}

/*#assigned {
    width: 25%;
    min-width: 230px;
    overflow: auto;
}

#category {
    width: 25%;
    min-width: 70px;
    overflow: auto;
    text-align: center;
}

#details {
    width: 25%;
    text-align: end;
}*/

/*colors for the list-item-content depending of the eisenhowerMatrixCategorie value of the assigment*/

.do {
    border-left-color: blue;
}

.schedule {
    border-left-color: purple;
}

.delegate {
    border-left-color: green;
}

.eliminate {
    border-left-color: orange;
}

.assigned-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.assigned-img {
    object-fit: cover;
    display: flex;
    margin: 0.5rem 0.5rem 0.5rem 0;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.assigned-img img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 3rem;
    height: 3rem;
    margin: 2px 0 0 0;
    border-radius: 50%;
    object-fit: cover;
}

.contact-data-section {
    display: flex;
    margin: 4px 0 0 0;
    flex-direction: column;
}

.category-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    grid-column: 3;
}

.details-content {
    grid-row: 2;
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 2% 2%;
}

.title-content {
    font-weight: bold;
    display: flex;
    grid-row: 1;
    grid-column: 4;
    align-items: center;
    justify-content: center;
}

#category {
    display: flex;
    justify-content: center;
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-item-content {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #F4F3FB;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left-style: solid;
    border-left-width: 5px;
}

.delete-container-overlay-list {
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.delete-container-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.delete-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    grid-column: 5;
    margin-top: 20px;
    vertical-align: middle;
}

.delete-window {
    z-index: 30;
    background-color: #f4f3fb;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
}

.delete-window button {
    margin-top: 32px;
    height: 40px;
    font-size: 1em!important;
}

.button-order {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    height: 24px;
    min-width: 100px;
    font-size: 0.6em!important;
    padding: 2px!important;
    margin-bottom: 7.5px;
    margin-top: 16px;
}

@media(max-width: 990px) {
    .projects {
        padding-top: 100px !important;
        width: 100% !important;
        padding-left: 5px;
    }
    .task-item-content {
        display: flex;
        align-items: center;
        height: 70px;
        width: 100%;
        background-color: #F4F3FB;
        margin-bottom: 10px;
        border-radius: 5px;
        border-left-style: solid;
        border-left-width: 5px;
    }
    .assigned-content {
        grid-column: 1;
        align-items: center;
    }
    .category-content {
        font-weight: bold;
        font-size: 1rem;
        max-height: 40px;
        align-items: baseline;
        margin-top: 0.5rem;
        grid-column: 1;
        grid-row: 2;
        justify-content: center;
    }
    .details-content {
        grid-area: details;
        grid-row: 3;
        justify-content: center;
    }
    .title-content {
        justify-content: center;
        align-items: center;
        grid-row: 2;
        grid-column: 2;
    }
    .task-container {
        margin-top: 16vh;
    }
    .task-item-description {
        background-color: white;
        position: relative !important;
        top: 30%;
        display: flex;
        color: rgb(30, 49, 144);
    }
    .task-listed {
        display: grid;
        grid-template-columns: 30% 60% 10%;
        grid-template-areas: "assignee details delete" "assignee details delete" "assignee details delete";
    }
    .assignee-section {
        overflow: auto;
        align-items: center;
        grid-area: assignee;
    }
    .delete-img {
        grid-column: 3;
        grid-row: 1;
    }
    #category {
        padding-left: 50px;
    }
    #details {
        padding-left: 50px;
    }
}