.task-page {
    width: 100vw;
    height: 100vh;
}


/********************Task_Container_RELATED_SETTINGS********************/

.headline-div-container {
    position: fixed;
    top: 0;
    width: 88%;
    height: 20%;
    display: flex;
    align-items: center;
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    background-color: white;
}

.projects {
    position: absolute;
    right: 0;
    top: 0;
    left: 160px;
    padding: 16px;
}

.headline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.task-container {
    position: relative;
    top: 25%;
    font-size: 14px;
    margin-top: 22vh;
}

.task-item-description {
    background-color: white;
    position: fixed;
    top: 20%;
    width: 88%;
    display: flex;
    color: rgb(30, 49, 144);
}

.task-item-description p {
    margin-bottom: 0 !important;
    font-weight: 700;
    font-size: 15px;
}

#assigned {
    width: 25%;
    min-width: 230px;
    overflow: auto;
}

#category {
    width: 25%;
    min-width: 70px;
    overflow: auto;
    text-align: center;
}

#details {
    width: 25%;
    text-align: end;
}


/*colors for the list-item-content depending of the eisenhowerMatrixCategorie value of the assigment*/

.do {
    border-left-color: blue;
}

.schedule {
    border-left-color: purple;
}

.delegate {
    border-left-color: green;
}

.eliminate {
    border-left-color: orange;
}

.assigned-content {
    width: 25%;
    min-width: 230px;
    overflow: auto;
    display: flex;
    align-items: center;
}

.assigned-img {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.category-content {
    width: 25%;
    min-width: 70px;
    overflow: auto;
    text-align: center;
}

.details-content {
    width: 50%;
    max-height: 100%;
    overflow-y: scroll;
    padding: 5px;
}

.task-item-content {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #F4F3FB;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left-style: solid;
    border-left-width: 5px;
}