    body {
        margin: 0;
        display: flex;
        font-family: 'PT Sans', sans-serif;
    }

    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 160px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 16px;
        background-color: #1b2d91;
    }

    .sidebar div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8px;
    }

    .sidebar a {
        background-color: transparent;
        padding: 8px;
        width: 90%;
    }

    .logoPosition {
        display: flex;
        justify-content: center;
    }

    .sidebar a:hover {
        text-decoration: none;
        color: white;
    }

    .menulink {
        margin-top: 10px;
        text-align: center;
        text-decoration: none;
        color: gray;
    }

    .bg-primare {
        color: #fff;
        background-color: rgb(30, 49, 144) !important;
        border-color: rgb(30, 49, 144) !important;
    }

    .impressumlink {
        top: 496px;
        color: gray;
        text-align: center;
        text-decoration: none;
    }

    .link-selected {
        box-shadow: -6px 0px white;
        color: white;
    }

    .link-unselected {
        color: gray;
    }

    .joinlogo {
        width: 40px;
        height: 51px;
        object-fit: contain;
        margin-bottom: 32px;
    }

    .profile-picture {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 100%;
        border: 2px solid white;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headline {
        display: flex;
        flex-direction: column;
    }

    .media {
        display: none;
    }

    @media ( max-width: 990px) {
        nav {
            border-bottom: #eeeded solid 2px;
            width: 100vw;
        }
        .container-fluid {
            display: flex!important;
            align-items: center!important;
            justify-content: space-between!important;
        }
        .navbar {
            position: fixed!important;
            padding-right: 1em!important;
            padding-left: 1em!important;
        }
        .hide-mobile {
            display: none;
            width: 0;
            height: 0;
        }
        .nav-image {
            width: 6em !important;
        }
        .navbar-toggler {
            width: 5em;
            height: 4em;
        }
        .navbar-toggler-icon {
            width: 3em;
            height: 3em;
        }
        .joinlogo {
            margin-bottom: 0;
        }
        .profile-picture {
            width: 48px;
            height: 48px;
        }
    }

    @media (min-width: 990px) {
        .show-mobile {
            display: none !important;
        }
    }