body {
    margin: 0;
    display: flex;
    font-family: 'PT Sans', sans-serif;
}

.sidebar {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    background-color: #1b2d91;
}

.sidebar a {
    background-color: transparent;
    padding: 8px;
    width: 90%;
}

.sidebar a:hover {
    text-decoration: none;
    color: white;
}

.menulink {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.link-selected {
    box-shadow: -6px 0px white;
    color: white;
}

.link-unselected {
    color: gray;
}

.projects {
    position: absolute;
    right: 0;
    top: 0;
    left: 160px;
    padding: 16px;
}

.joinlogo {
    width: 40px;
    height: 51px;
    object-fit: cover;
    margin-bottom: 32px;
}

.profile-picture {
    position: absolute;
    bottom: 200px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}


/*add Task Style */

h2 {
    font-size: 32px !important;
    color: rgb(30, 49, 144);
}

p {
    font-size: 12px!important;
    color: rgb(30, 49, 144);
}

.title-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.task-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.addtask-container {
    display: flex;
    height: 90%;
    width: 90%;
    background-color: rgb(244, 243, 251) !important;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    color: rgb(30, 49, 144);
}

.right-taskcontainer {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
}

.title-section {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-section {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title-section input {
    height: 25%;
    width: 100%;
}

.discripion-section {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-select {
    width: 100%;
    height: 50%;
}

.left-taskcontainer {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
}

.date-section {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-section input {
    height: 25%;
    width: 95%;
}

.importance-section {
    height: 25%;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.assign-section {
    height: 50%;
}

.overall-user-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 30%;
}

.overall-user-div div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.overall-user-div img {
    margin-bottom: 4px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    background-color: white;
    border-radius: 100%;
    margin-right: 8px;
    margin-left: 8px;
}

.assign-perosn-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.assign-perosn-btn button {
    margin: 8px;
}

.assign-commit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    height: 40%;
    padding-right: 10px;
}

.assign-commit button {
    margin: 8px;
}

.d-none {
    display: none;
}

.user-picker {
    z-index: 20;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-picker-container {
    height: 45vh;
    overflow-y: auto;
    width: 40vw;
    background-color: rgb(244, 243, 251);
    border-radius: 16px !important;
    padding: 16px;
}

.back-btn {
    width: 5vw;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}