body {
    margin: 0;
    display: flex;
    font-family: 'PT Sans', sans-serif;
}

.sidebar {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: #1b2d91;
}

.sidebar a {
    color: white;
    padding: 8px;
}

.projects {
    position: absolute;
    right: 0;
    top: 0;
    left: 160px;
    padding: 16px;
}

.joinlogo {
    width: 40px;
    height: 51px;
    object-fit: cover;
    margin-bottom: 32px;
}

.profile-picture {
    position: absolute;
    bottom: 32px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}

.headline {
    display: flex;
    flex-direction: column;
}
