body {
    margin: 0;
    display: flex;
    font-family: 'PT Sans', sans-serif;
}

.sidebar {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: #1b2d91;
}

.sidebar a {
    color: white;
    padding: 8px;
}

.projects {
    position: absolute;
    right: 0;
    top: 0;
    left: 160px;
    padding: 16px;
}

.joinlogo {
    width: 40px;
    height: 51px;
    object-fit: cover;
    margin-bottom: 32px;
}

.profile-picture {
    position: absolute;
    bottom: 32px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}

.profile-picture img {
    height: 46px;
    width: 50px;
}

.headline {
    display: flex;
    flex-direction: column;
}


/********************Task_Container_RELATED_SETTINGS********************/

.task-container {
    position: relative;
    top: 25%;
    font-size: 14px;
}

.task-item-description {
    background-color: white;
    position: fixed;
    top: 20%;
    width: 88%;
    display: flex;
    color: rgb(30, 49, 144);
}

.task-item-description p {
    margin-bottom: 0 !important;
    font-weight: 700;
    font-size: 15px;
}

#assigned {
    width: 25%;
    min-width: 230px;
    overflow: auto;
}

#category {
    width: 25%;
    min-width: 70px;
    overflow: auto;
    text-align: center;
}

#details {
    width: 25%;
    text-align: end;
}