body {
    margin: 0;
    display: flex;
    font-family: 'PT Sans', sans-serif;
}

.sidebar {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    background-color: #1b2d91;
}

.sidebar a {
    background-color: transparent;
    padding: 8px;
    width: 90%;
}

.sidebar a:hover {
    text-decoration: none;
    color: white;
}

.menulink {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.impressumlink{
    top: 496px;
    color: gray;
    position: absolute;
    text-align: center;
    text-decoration: none;
}

.link-selected {
    box-shadow: -6px 0px white;
    color: white;
}

.link-unselected {
    color: gray;
}

.joinlogo {
    width: 40px;
    height: 51px;
    object-fit: cover;
    margin-bottom: 32px;
}

.profile-picture {
    position: absolute;
    bottom: 200px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}

.profile-picture img {
    height: 46px;
    width: 50px;
}

.headline {
    display: flex;
    flex-direction: column;
}

.projects {
    position: absolute;
    right: 0;
    top: 0;
    left: 160px;
    padding: 16px;
}
